*{
  margin: 0px;
  padding: 0px;
}

.menu {
 height: 1500px;
}

.menu__background {
  background: url("../img/MaskGroup1.png");
  /* width: 1920px; */
  height: 854px;
}

.menu__navbar {
  display: flex;
  justify-content:space-evenly;
}

.menu__navbar__navigation {
  /* width: 880px; */
  margin-top: 64px;
}

.menu__navbar__logo {
  /* width: 280px; */
  height: 80px;
  /* margin-left: 278px; */
  margin-top: 43px;
  /* margin-right: 17px; */
}

.menu__navbar__navigation__item {
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none; 
  margin-right: 35px;
}

.menu__navbar__btn {
  color: white;
  background-color: #572BD9;
  font-size: 20px;
  padding: 12px 54px 20px 54px;
  border-radius: 10px;
  border-style: none;
  /* max-width: 180px; */
  max-height: 60px;
}

/* .discover__block {
  text-align: center;
} */

.discover__block__title{
  color: white;
  text-align: center;
  font-size: 64px;
  margin-top: 119px;
}

.discover__block__text {
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 18px;
}

.activity__btns {
  text-align: center;
  margin-bottom: 52px;
}

.activity__btn_get {
  color: white;
  font-size: 20px;
  margin-top: 45px;
  padding:20px 48px 20px 48px;
  border-radius: 10px;
  border-style: none;
  background-color: #FFDD33;
}

.activity__btn_play{
  color: white;
  font-size: 20px;
  margin-top: 45px;
  padding:20px 48px 20px 48px;
  border-radius: 10px;
  border-style: none;
  background-color: #572BD9;
  margin-left: 55px;
}

.discover__block__bigimage {
  display: flex;
  justify-content: center;
  
}

.discover__block__bigimage__icon {
  width: 1100px;
  height: 770px;
  
}

.discover__block__smallimage {
  display: flex;
  justify-content: center;
}

.discover__block__smallImage__icon {
  margin-left: 108px;
  width: 260px;
  height: 90px;
  margin-top:10px;
  opacity: 0.1;
  
}

.discover__block__smallImage__bold {
  margin-left: 108px;
  width: 260px;
  height: 90px;
  margin-top:10px;
  
}

.choose__block__title {
  font-size: 64px;
  text-align: center;
  margin-bottom: 30px;
}

.choose__block__slogan {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.flex__box {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}

.flex__box__first__title {
  font-size: 30px;
  margin-top: 27px;
  margin-bottom: 20px;
}

.flex__box__first__text {
  color: #7E92AC;
  font-size: 16px;
  max-width: 300px;
  max-height: 100px;
  margin-right: 60px;
}

.flex__box__second__title {
  font-size: 30px;
  margin-top: 27px;
  margin-bottom: 20px;
}

.flex__box__second__text {
  color: #7E92AC;
  font-size: 16px;
  max-width: 300px;
  max-height: 100px;
  margin-right: 60px;
}

.flex__box__third__title {
  font-size: 30px;
  margin-top: 27px;
  margin-bottom: 20px;
}

.flex__box__third__text {
  color: #7E92AC;
  font-size: 16px;
  max-width: 300px;
  max-height: 100px;
  margin-right: 60px;
}

.advertisemnet__block {
  display: flex;
  justify-content: center;
}

/* .advertisemnet__block__icon{
  margin-top: 147px;
} */

.advertisemnet__block__title {
  font-size: 64px;
  margin-top: 250px;
}

.advertisemnet__block__text {
  font-size: 20px;
  margin-top: 42px;
  line-height: 30px;
  max-width: 500px;
  max-height: 120px;
}

.advertisement__btn {
  color: #FFFFFF;
  background: #572BD9;
  font-size: 20px;
  margin-top: 50px;
  padding: 20px 50px;
  border-radius: 10px;
  border-style: none;
}

.body__start__first {
  background: url("../img/MaskGroup2.png");
  /* width: 1920px; */
  height: 630px;
  color: white;
  text-align: center;
}

.body__start__first__title {
  font-size: 64px;
  padding-top: 93px;
}

.body__start__first__text{
  font-size: 20px;
  padding-top: 60px;
}

.body__start__btn {
  color: #FFFFFF;
  background: #FFDD33;
  font-size: 20px;
  margin-top: 60px;
  padding: 20px 50px;
  border-radius: 10px;
  border-style: none;
}

.body__start__content {
  display: flex;
  justify-content: first baseline;
  margin-left: 270px;
}

.body__start__icon__tick {
  width: 30px;
  height: 30px;
}

.body__start__content__title {
  font-size: 64px;
  margin-top: 166px;
}

.body__start__content__container {
  display: flex;
  justify-content: first baseline;
  margin-top: 45px;
}

.body__start__content__text {
  color: #7E92AC;
  font-size: 16px;
  margin-left: 25px;
  width: 350px;
  height: 45px;
  line-height: 22px;
}

.content__testimonials {
  font-size: 65px;
  text-align: center;
  margin-top: 370px;
}

.testimonials {
margin-bottom: 70px;
}

.testimonials__blog {
  display: flex;
  justify-content: space-evenly;
  margin-top: 88px;
  text-align: center;
}

.testimonial__image {
  margin-top: 88px;
}

.testimonial__name {
  font-size: 30px;
  margin-top: 37px;
  
}

.testimonial__position {
  color: #7E92AC;
  margin-top: 7px;
}

.testimonial__content {
  color: #7E92AC;
  margin-top: 27px;
  margin-bottom: 38px;
  max-width: 340px;
  max-height: 120px;
}

.icon__points {
  text-align: center;
  margin-top: 83px;
}

.pricing__plan {
  background: url("../img/MaskGroup3.png");
  height: 1300px;
}

.pricing__plan__title {
  color: white;
  font-size: 64px;
  text-align: center;
  padding-top: 138px;
  margin-bottom: 40px;
}

.pricing__plan__content {
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 32px;
  margin-bottom: 100px;
}

.pricing__plan__cards {
  display: flex;
  justify-content: center;
}

.pricing__plan__card_white {
  background: white;
  margin-left: 22px;
  width: 400px;
  height: 700px;
}

.pricing__plan__card_bold {
  color: white;
  margin-left: 22px;
  background:#6837FA;
  width: 400px;
  height: 700px;
}

.pricing__plan__card__title{
  font-size: 30px;
  text-align: center;
  padding: 30px 0 20px 0;
}

.pricing__plan__card__price {
  font-size: 84px;
  text-align: center;
  padding-bottom: 10px;
}
.pricing__plan__card__frequency{
  font-size:20px;
  text-align: center;
  padding: 20px 5px;
}

.pricing__plan__card__access {
  font-size:20px;
  text-align: center;
  padding: 15px 40px;
}

.pricing__plan__card__checkmarks__block{
  padding: 0 75px;
}

/* .pricing__plan__card__checkmarks__content {
  
} */

.pricing__plan__card__checkmarks__content__item{
  padding-top: 20px;
}

.pricing__plan__card__checkmarks__content__item__text {
  padding-left: 20px;
}

.pricing__plan__cards__btn {
  text-align: center;
}

.questions__title {
  font-size: 64px;
  text-align: center;
  margin: 135px 0 35px 0;
}

.questions__subtitle {
  font-size: 20px;
  text-align: center;
  margin-bottom: 80px;
  /* padding: 40px 550px 80px 550px; */
}

.questions__content__block {
  display: flex;
  justify-content: center;
  /* margin: 80px 280px 240px 80px; */
}

.questions__content__card {
  display: flex;
  justify-content: center;
}

.questions__content__title {
  font-size: 30px;
  padding: 30px 0 15px 0;
}

.questions__content__text {
  font-size: 16px;
  color: #7E92AC;
  line-height: 24px;
  width: 540px;
  height: 70px;
}

.message {
  margin-bottom: 60px;
}

.message__title {
  font-size: 64px;
  text-align: center;
  margin-bottom: 30px;
}

.message__subtitle {
  font-size: 20px;
  text-align: center;
  color: #7E92AC;
  margin-bottom: 76px;
}

.message__content{
  display: flex;
  justify-content:center;
  flex-direction:column;
  margin: 0 auto;
  width: 700px;
  
}

.input-name {
  color: #7E92AC;
  font-size: 20px;
  padding: 24px 38px;
  margin-bottom: 30px;
}

.input-email {
  color: #7E92AC;
  font-size: 20px;
  padding: 24px 38px;
  margin-bottom: 30px;
}

.input-message {
  color: #7E92AC;
  font-size: 20px;
  height: 270px;
  padding: 24px 38px;
}

.getstarted {
  background: url('../img/MaskGroup4.png');
  width: 1920px;
  height: 640px;
}

.body__start__last {
  background: url("../img/MaskGroup4.png");
  /* width: 1920px; */
  height: 630px;
  color: white;
  text-align: center;
  margin-bottom: 115px;
}

.body__start__last__title {
  font-size: 64px;
  padding-top: 239px;
}

.body__start__last__text{
  font-size: 20px;
  padding-top: 60px;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer__about {
  width: 310px;
  height: 250px;
  margin-bottom: 90px;
}

.footer__about__title {
  font-size: 30px;
  margin-bottom: 40px;
}

.footer__about__text{
  font-size: 20px;
  color: #7E92AC;
  line-height: 32px;
}

.footer__link {
  width: 140px;
  height: 240px;
}

.footer__link__title {
  font-size: 30px;
  margin-bottom: 40px;
}

.footer__link__text {
  font-size: 20px;
  color: #7E92AC;
  line-height: 27px;
}

.footer__btn {
  color: #FFFFFF;
  background: #FEB301;
  font-size: 20px;
  border-radius: 10px;
  border-style: none;
}

.footer__subscribe {
  width: 570px;
  height: 70px;
}

.footer__subscribe__block__input {
  display: flex;
  justify-content:left;
  margin-bottom: 50px;
}

.footer__subscribe__title {
  font-size: 30px;
  margin-bottom: 44px
}

.footer__subscribe__input {
  color: #7E92AC;
  font-size: 20px;
  min-width: 440px;
  padding:20px 30px;
}

.footer__btn {
  display: flex;
  justify-content:left;
  max-width: 220px;
}

.footer__btn__text {
 font-size: 20px;
 padding: 23px 5px 20px 40px;
}

.footer__btn__arrow {
  padding: 23px;
}

.footer__subscribe__block__icons {
  margin-right: 20px;
}

.copyright__background {
  background: url("../img/copyright-background.png");
}

.copyright {
  height: 120px;
  display: flex;
  justify-content: space-between;

}

.copyright__author  {
  color: #FFFFFF;
  font-size: 20px;
  height: 27px;
  margin: 45px 180px 45px 280px;
}

.copyright__refs {
  color: #FFFFFF;
  margin-top: 45px;
}

.copyright__refs__item {
  color: #FFFFFF;
  margin-right: 35px;
  font-size: 20px;
  text-decoration: none; 
  font-weight: 400;
}
